$green:#C2E7DA;
$blue:#6290C3;
$yellow:#F1FFE7;
$black:#1A1B41;
$red:#F32463;
.main{
	width:100%;
	height: calc(100vh - 103px);
	&__body{
		height:100%;
		width: calc(100% - 300px);
		background-color: $black;
		padding: 10px;
		box-sizing: border-box;
		overflow: auto;
		overflow-x: hidden;
	}
	&__article{
		min-height: calc(100vh - 103px);
		width: 300px;
		background: $blue;
		overflow: auto;
		justify-content: stretch !important;
		padding: 10px;
		box-sizing: border-box;
		overflow: hidden;
	}
	&__mainInput{
		border: 3px solid $black;
	}
	&__line{
		width:100%;
		height: 3px;
		background-color: $yellow;
		border-radius: 10px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	&__title{
		text-align: center;
	}
	&__text{
		color: $black;
		font-size: 16px;
		font-weight: 500;
	}
	&-margin{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	&__radio{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $yellow;
		border: 3px solid $black;
		& > *{
			background-color: $black;
			border-radius: 50%;
			width: 10px;
			height: 10px;
		}
	}
	&-left{
		margin-left: 14px;
	}
	&__radioButtons{
		display: grid;
		align-items: center;
		grid-gap:10px;
		grid-template-columns: repeat(2,1fr);
		cursor: pointer;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	&__container{
		font-size: 20px;
		width:100%;
		color:$black;
		font-weight: 800;
		&> p{
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	&__sorters{
		width:100%;
		margin-top: 10px;
	}
	&__sorter{
		& >p{
			margin-top: 5px;
		}
	}
	&__sortImage{
		width: 40px;
		cursor: pointer;
	}
	&__loading{
		width: 80px;
		animation: rotate infinite 1s linear;
		@keyframes rotate{
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
	@media(max-width:900px) {
		&__article{
			position: fixed !important;
			z-index: 10;
			height:100%;
			top: 103px;
			left: 0;
		}
		&__body{
			width:100%;
		}
	}
}
