$green:#C2E7DA;
$blue:#6290C3;
$yellow:#F1FFE7;
$black:#1A1B41;
$red:#F32463;
.generator{
	width: 50%;
	min-width: 340px;
	&__copy{
		width: 110px;
		height: 40px;
	}
	&__output{
		width: 320px;
		height: 40px;
		background-color: $yellow;
		box-sizing: border-box;
		padding: 5px 10px;
		border-radius: 10px;
		border:none;
		font-weight: 800;
		font-size: 20px;
		&:focus{
			outline: none;
		}
	}
	&__grid{
		width:100%;
		grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
		gap: 10px;
		display: grid;
	}
	&__menu{
		align-self: flex-start;
		width:100%;
		max-width: 700px;
		gap: 10px;
	}
	@media(max-width:1000px) {
		width: 70%;
	}
	&__center{
		text-align: center;
	}
	@media(max-width:1350px) {
		&__menu{
			flex-direction: column;
		}
		&__output{
			width:100%;
		}
		&__copy{
			align-self: flex-end;
		}
		&__title{
			align-self: flex-start;
		}
	}
}